body {
  /* width: 960px; */
  border: 2px solid black;
  /* margin: auto; */
  background-color: lightcyan;
}

.h1 {
  border: 2px solid black;
  background-color: black;
  padding-left: 750px;
  color: white;
  font-size: 3em;
}

.img {
  width: 500px;
  padding-top: 10px;
}

.h2 {
  font-size: 40px;
}

p {
  color: black;
}

ul,ol{
  color: black;
}

footer{
  color: black;
}