body {
  border: 2px solid black;
  margin: auto;
  background-color: lightcyan;
}

.img {
  width: 500px;
  margin: 10px;
}

.h1 {
  background-color: black;
  padding-left: 750px;
  color: white;
  font-size: 3em;
}

.h2-bio {
  margin-left: 10px;
  font-size: 40px;
}

.h3-edu {
  margin-left: 10px;
  font-size: 40px;
}

.h4-career {
  margin-left: 10px;
  font-size: 40px;
}

.h5-goals {
  margin-left: 10px;
  font-size: 40px;
}

.para1 {
  margin-top: 20px;
  margin-left: 10px;
  width: 700px;
  font-size: 20px;
}

.para2 {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 700px;
  font-size: 20px;
}

.para3 {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  width: 700px;
  font-size: 20px;
}

ul,ol{
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

footer{
  margin-left: 10px;
}